article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

button {
  border-style: none;
  font-size: 2rem;
  height: 35px;
  background-color: #3bb273;
  color: #f6f7eb;
}

.icon:hover {
  color: red;
}

.submitButton:hover {
  background-color: #7daa92;
  color: black;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Nunito', sans-serif;
}

.headerSection {
  background-color: #3bb273;
  padding: 5%;
}

.title {
  font-size: 10rem;
  font-weight: 900;
  color: #f6f7eb;
  padding-bottom: 5%;
}

.introduction {
  font-size: 3rem; 
  color: #f6f7eb;
}

.submitSection {
  padding: 2%;
}

.addLabel {
  font-size: 2.5rem;
}

.newItem {
  margin: 0 25px;
  font-size: 2rem;
}

.toDoListSection {
  background-color: #edffd9;
  font-size: 3rem;
  width: 60%;
  padding: 2%;
  margin-bottom: 25px;
  box-shadow: 10px 10px #7daa92;
}

li {
  list-style: none;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  background-color: greenyellow;
}

.icon {
  background-color: #edffd9;
  color: black;
}

.uncompletedTask {
  color: black;
}

.completedTask {
  color:lightgrey;
  text-decoration: line-through;
}

.footer {
  background-color: #3bb273;
  padding: 10px;
  color: #f6f7eb;
  font-size: 2.5rem;
}

/* Responsive Design Styling */

@media (max-width: 768px) {
  .submitSection {
    padding: 5%;
  }

  .submitSection button {
    margin-top: 25px;
  }
  
  .toDoListSection {
    width: 80%;
  }

  .submitButton {
    width: 80%;
  }
}

@media (max-width: 414px) {
  .headerSection {
    height: 80vh;
  }
  
  .introduction {
    font-size: 2.75rem;
  }

  .toDoListSection .submitButton {
    height: 60px;
  }

  .footer {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .headerSection {
    height: 90vh;
  }
}

@media (max-width: 320px) {
  .headerSection {
    height: 80vh;
  }
  
  .title {
    font-size: 6rem;
  }
  
  .introduction {
    font-size: 2.5rem;
  }

  .newItem {
    width: 80%;
  }

  .footer {
    font-size: 1.75rem;
  }
}

/* Animation Styling Section */

.bounce-in-top {
  -webkit-animation: bounce-in-top 2s both;
  animation: bounce-in-top 2s both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-7 12:12:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-7 11:55:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}